<div class="wrapper">

  <div class="conteiner" >

    <div *ngFor="let x of despesas">


      <div class="box-expense" >

        <img src="https://www.freeiconspng.com/thumbs/dollar-icon-png/money-flat-money-png-15.png">
        <div class="content">

            <h1 class="titulo-despesa">{{x.nome}}</h1>
            <div class="despesa-content">
              <h6>Id Despesa: {{x.id}}</h6>
              <h6>Id Pessoa que Pagou: {{x.pago}}</h6>
              <h6>Id Do Grupo: {{x.grupo_id}}</h6>
              <h6>Tipo Despesa: {{x.tipo}}</h6>

            </div>
        </div>

          <h1 id="del" (click)="eleminarDespesas(x.id)">X</h1>
      </div>

      <div class="breaker"></div>


    </div>






  </div>








  <div class="box-add">
    <img class="icon-desp" src="../../../assets/despesas-icon.png">
    <button id="adicionarDespesa" (click)="teste()" >Adicionar Despesa</button>
    <button id="verDespesa" (click)="verDespesas()" >Ver Despesas</button>
    <button id="verGrupos" (click)="verGrupos()" >Ver Grupos</button>
    <button id="addAmigos" (click)="addAmigos()" >Add amigos</button>
    <button id="verAmigos" (click)="verAmigos()" >Ver amigos</button>
  </div>

  <div class="box-side">

    <div *ngFor="let x of respostaGrupo">

      <div class="side-box" >
        <h2>{{x.nome}}</h2>
        <h3>{{x.desc}}</h3>
        <button class="btnadd" (click)="addGrupoDespesa(x.id)">Add me miau</button>
      </div>

    </div>

    <div *ngFor="let x of amigosinfo">

      <div class="side-box am" >
        <h2>{{x.name}}</h2>
        <h3>{{x.email}}</h3>
        <button class="btnadd" (click)="addAmigoDespesa(x.id,x.name)">Add me nya</button>
      </div>

    </div>


  </div>


</div>

<div id="box">

    <span (click)="closePopup()" id="close">X</span>
  <form>
  <div class="input-container">
    <input type="text" required="" name="email" [(ngModel)]="nome" />
    <label>Nome da despesa</label>
  </div>
  <div class="input-container">
    <input type="password" required="" name="password" [(ngModel)]="quanti" />
    <label>Valor €</label>
  </div>
  <div class="input-container">
    <input type="text" required="" name="tipo" [(ngModel)]="tipo" />
    <label>Como dividir a despesa</label>
  </div>
  <div class="input-container">
    <input type="text" readonly required="" name="grupo_id" [(ngModel)]="grupo_id" />
    <label>Grupo(opcional)</label>
  </div>
  <div class="input-container">
    <input type="text" readonly required="" name="nomesDespesas" [(ngModel)]="nomesDespesas" />
    <label>Membros Despesa</label>
  </div>
  <div class="input-container">
    <input type="text" required="" name="quemPagou" [(ngModel)]="quemPagou" />
    <label>Quem pagou</label>
  </div>
    <button type="button" class="btn" (click)="adicionarDespesa()">Criar Despesa</button>

</form>
</div>
