<div class="oi"></div>

<div class="grupo" *ngFor="let x of grupos">
  <h1 (click)="verGrupo(x.id)">{{x.nome}}</h1>
</div>

<div class="grupo" (click)="verGrupo(0)">
  <h1>Contas não associadas</h1>
</div>

<button (click)="verGrupo(-1)">Criar Grupo</button>
<input (input)='pesquisa(pesquisar.value)' #pesquisar placeholder="Pesquisar Grupo">

<div [ngStyle]="{display: display}" class="formGrupo">
  <input [(ngModel)]="name" type="text" placeholder="Name" required>
  <input [(ngModel)]="desc" type="text" placeholder="Descrição" required>
  <button (click)="criarGrupo()">Registar</button>
</div>
