<div class="wrapper">

  <div class="conteiner">

    <div id="claim">
      <h1>Dividir contas para despesas de grupo compartilhado.
        Dizemos-lhe quem deve a quem e como liquidar as dívidas em grupo.</h1>
      </div>

    <div class="breaker"></div>

    <div id="how">

      <h2>SEM</h2>
      <div id="howpic"></div>
      <div id="howtext">
        <p>Muitas vezes, em férias, em festas, para presentes ou no tempo livre, todos pagam algo por um grupo de pessoas. Calcular os pagamentos depois para equilibrar o grupo pode ser uma tarefa assustadora e complicada (mesmo com uma calculadora) - especialmente quando algumas despesas não são compartilhadas com todos os membros do grupo.

          SEM te ajuda com isso: Depois que você digita o nome de todos e os gastos que eles tiveram para o grupo, SEM informa quem deve a quem quanto e como quitar as dívidas do grupo.

          Também é possível que as despesas não sejam compartilhadas com todo o grupo e apenas entre pessoas específicas.</p>
      </div>
    </div>
    <div class="breaker"></div>

  </div>

</div>

