<div class="wrapper">

  <div class="conteiner">

    <div id="claim">
      <h1>
        Dizemos-lhe quem deve a quem e como liquidar as dívidas em grupo.</h1>
      </div>

    <div class="breaker"></div>

    <div id="how">

      <h2>Simple Expenditure Manager</h2>
      <div id="howpic"></div>
      <div id="howtext">
        <p>Trabalho desenvolvido por: </p>
        <p>Bruno Mendes </p>
        <p>Xavier Monteiro </p>
        <p>Vitor Silva</p>
      </div>
    </div>
    <div class="breaker"></div>

  </div>

</div>

